<footer class="footer">
    <div class="footer__container _container">
        <nav class="nav__footer">
            <ul class="footer__nav-list">
                <li class="footer__item"><a href="#" class="footer__link footer__link-title"> ТОО «SINAPSYS»</a></li>
                <p class="footer__desciption">Sinapsys – поставщик IT-решений и сервисов, работающий на рынках Восточной Европы, Америки и Азии.</p>
            </ul>

            <ul class="footer__nav-list">
                <li class="footer__item"><a href="#" class="footer__link footer__link-title">О компании</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Интегрированная система менеджмента</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Лицензии и сертификаты</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Нормативные документы</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Политика конфиденциальности</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Согласие на обработку личных данных</a></li>
            </ul>

            <ul class="footer__nav-list">
                <li class="footer__item"><a href="#" class="footer__link footer__link-title">Контакты</a></li>
                <li class="footer__item footer__item-contact"><span class="item-icon map-marker-icon"></span><a target="_blank"  href="https://www.google.com/maps?q=Astana" class="footer__link">Казахстан, Астана, Алматы 1</a></li>
                <li class="footer__item footer__item-contact"><span class="item-icon phone-icon"></span><a href="tel:+77771568373"  class="footer__link">+7 (777) 156-83-73</a></li>
                <li class="footer__item footer__item-contact"><span class="item-icon mail-icon"></span><a href="mailto:info@sinapsys.kz"  class="footer__link">info@sinapsys.kz</a></li>
            </ul>
        </nav>
    </div>
</footer>