<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#35363a">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Главная</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="css/style.min.css">
    <title></title>
</head>

<body>

<header class="header">
    <div class="header__container _container">
        <div class="logo__inner">
            <a href="\"><img src="/images/logo.svg" alt="SYNAPSYS logotype"></a>
        </div>
        <div class="menu__inner">
            <div class="header__menu menu">
                <div class="menu__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
                        <li class="nav__item"><a href="about.html" class="nav__link">О компании</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
                        <ul class="menu__list-down">
                            <li class=" nav__item-down"><a href="#" class="nav__link-down nav__link">Облачные сервисы</a></li>
                            <li class=" nav__item-down"><a href="#" class="nav__link-down nav__link">Продукты</a></li>
                            <li class=" nav__item-down"><a href="#" class="nav__link-down nav__link">Услуги</a></li>
                        </ul>
                       
                    </ul>
                
                </nav>
            </div>
            
            <div class="header__language-toggle">
                <button id="submitButton" class="header__button button">Подать заявку</button>
                <div class="language-selector">
                    <div class="selected-language">
                      <span class="selected-language-text">Рус</span>
                      <i class="arrow-down-icon"></i>
                    </div>
                    <ul class="language-options">
                      <li><a href="#">Eng</a></li>
                    </ul>
                  </div>
              </div>

        </div>


        </div>
    </div>
    <div class="header-down__container _container">
        <ul class="nav__list-down">
            <li class=" nav__item-down"><a href="cloud_services.html" class="nav__link-down nav__link">Облачные сервисы</a></li>
            <li class=" nav__item-down"><a href="#" class="nav__link-down nav__link">Продукты</a></li>
            <li class=" nav__item-down"><a href="#" class="nav__link-down nav__link">Услуги</a></li>
        </ul>
    </div>
</header>