

// ============================common===========================
._container {
    margin: 0 auto;
    max-width: var(--containerWidth);
    padding: 0 50px;
    width: 100%;
    @media (max-width: 990px) { 
      padding: 0 30px;
    }
    @media (max-width: 500px) { 
      padding: 0 24px;
    }
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
    line-height: 121.875%; /* 39/32 */
    color: var(--text-color);
    margin-bottom: 30px;  
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  
h3 {
    font-weight: 500;
    font-size: var(--h3-font-size);
    line-height: 108.333333%; /* 26/24 */
    color: var(--text-color);
  }


.common__desc {
    font-size: var(--dry-text-font-size);
    line-height: 173.333333%; /* 26/15 */
    margin-bottom: 24px;
}

.subject {
    font-size: var(--tertiary-font-size);
    line-height: 162.5%; /* 26/16 */   
    margin-bottom: 12px;
    font-weight: 500;
}











//   ===========================
// ==============================




.common__container {
    display: flex;
    gap: 48px;
    margin-top: 26px;
    @media (max-width: 957px) {
      flex-direction: column;
      align-items: center;
    }

    .common__content-container {
        max-width: 872px;
        /* .common__title */
        &__title {
        font-weight: 500;
        font-size: var(--h2-font-size);
        line-height: 121.875%; /* 39/32 */
        color: var(--text-color);
        text-transform:none;
        margin-bottom: 30px;
        }

        /* .common-content__container */
        &__container {
        max-width: 873px;
        }
      
    .call-to-action {
        display: flex;
        justify-content: space-between;
        padding: 24px 30px;
        background-color: var(--tertiary-rate-bg-color);
        margin-bottom: 24px;
        /* .call-to-action__desc */
        &__desc {
            max-width: 613px;
            font-size: var(--tertiary-font-size);
        }
    }
    .common {

		/* .common__service-wrapper */
		&__service-wrapper {
            margin-bottom: 24px;
		}

		/* .common__service-subscribe */
		&__service-subscribe {
            font-weight: 500;
            font-size: var(--h3-font-size);
            line-height: 108.333333%; /* 26/24 */
            margin-bottom: 30px;
		}

		/* .common__service-desc */
		&__service-desc {
            font-size: var(--dry-text-font-size);
            line-height: 173.333333%; /* 26/15 */
            color: var(--text-color);
            & p:first-child {
              margin-bottom: 8px;
            }
		}
}


    
    .common {

		/* .common__benefits-wrapper */
		&__benefits-wrapper {
            margin-bottom: 24px;

		}

		/* .common__benefits */
		&__benefits-title {
            margin-bottom: 12px;
		}

		/* .common__subtitle */
		&__subtitle {
		}

		/* .common__benefits-inner */
		&__benefits-inner {
      background-color: var(--tertiary-rate-bg-color);
      display: flex;
      gap: 26px;
      padding: 50px;
      @media (max-width: 1250px) {
        padding: 30px;
      }
      @media (max-width: 1262px) {
        flex-wrap: wrap;
      }
      @media (max-width: 957px) {
        justify-content: center;
      }
		}

		/* .common__benefits-card */
		&__benefits-card {
      max-width: 240px;
      @media (max-width: 957px) {
        max-width: 295px;
      }
		}

		/* .common__benefits-card--img */
    &__benefits-card--img {
      margin-bottom: 20px;
    }
		&__benefits-card--img img{
        width: 88px;
        height: 88px;
       @media (max-width: 1250px) {
        width: 66px;
        height: 66px;
      }
      @media (max-width: 1262px) {
        width: 88px;
        height: 88px;
      }
		}

	

		/* .common__benefits-card--description */
		&__benefits-card--description {
      font-size: var(--text-font-size);
      line-height: 185.714286%; /* 26/14 */
      @media (max-width: 1250px) {
        font-size: 12px;
      }
      @media (max-width: 1262px) {
        font-size: var(--text-font-size);
      }
      @media (max-width: 957px) {
        line-height: 133.333333%; /* 16/12 */
      }
		}
    
  }
  }
}
