

.button {
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--border-color);
    font-family: var(--font-family-Montserrat);
    font-weight: 500;
    padding: 18px 0px;
    background-color: #fff;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    width: 217px;
    transition: all 0.2s ease 0s;
    &:hover {
      background-color: var(--hover-bg-button-color);
      color: var(--secondary-text-color);
    }
  
    @media (max-width: 1257px) {
      width: 180px;
      padding: 14px 0;
    }
  
    @media (max-width: 1024px) {
      width: 160px;
      padding: 12px 0;
      font-size: 0.9375rem;
    }
  }
  
  .button-primary {
    background-color: var(--link-color);
    color: #fff;
    font-size: var(--nav-font-size);
    line-height: 150%; /* 24/16 */
    transition: all 0.4s ease 0s;
    &:hover {
      background-color: #3d78ee;
      border-color: #3d78ee;
    }
  }
  
  
  .button-link {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: var(--link-font-size);
    line-height: 168.75%; /* 27/16 */
    text-transform: uppercase;
    color: var(--link-color);
    position: relative;
    padding-right: 18px;
    margin-top: auto;
    & span {
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      right: 0;
      background-image: url(/app/images/arrow.svg);
      width: 9px;
      height: 15px;
    }
    @media (max-width: 900px) {
      font-size: 15px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 500px) {
      font-size: 10px;
    }
    &:hover {
      text-decoration: underline;
    }  
  }
  
  .more-link {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: var(--link-font-size);
    line-height: 27px;
    text-transform: uppercase;
    color: var(--text-color);
    position: relative;
    padding-right: 18px;
    & span {
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      right: 0;
      background-image: url(/app/images/arrow-black.svg);
      width: 9px;
      height: 15px;
    }
    &:hover {
      text-decoration: underline;
    }  
  }
  

.action {
  background: #73B73E;
  border: 1px solid #73B73E;
  font-weight: 500;
  font-size: var(--text-font-size);
  line-height: 171.428571%; /* 24/14 */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.2s ease 0s;
  padding: 14px 20px;
  color: pointer;
  width: 170px;
  max-width: 100%;
  border-radius: 8px;
  &:hover {
    background-color: #75c934;
  }
  &:active {
    background-color: #568730;
  }
} 
  
 /* .sidebar__button */
.sidebar__button {
  max-width: 167px;
  font-weight: 500;
  font-size: 13px;
  line-height: 161.538462%; /* 21/13 */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.6px;
  color: #FFFFFF;
  background: #6C96F9;
  border-radius: 8px;
  padding: 20px 67px 20px 20px;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &::before {
    content: "";
    background-image: url(/images/sidebar/button-arrow.svg);
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    background-color: #3d78ee;
  }
  &:hover::before {
  }
} 
